.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
  
.card-deck {
  margin: auto; 
  display: flex;
  justify-content: center;
}

.pageContainer .card {
  width: 300px;
  height: 250px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  margin-top:10px;
  margin-bottom:10px;
  margin-right: 10px;
  background-color: #FFF;
  text-align: center;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(0,191,130,1) 0%, rgba(0,153,174,1) 100%);
}

.pageContainer img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.category .card {
  width: 300px;
  height: 250px;
  margin-top:10px;
  margin-bottom:10px;
  margin-right: 10px;
  box-sizing: border-box;
  background: none;
  border: none;
  position: relative;
  perspective: 1000px;
  box-shadow: none;
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 2s;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card.flipped .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card.flipped .back {
  -webkit-transform: rotateY(0deg);
  transform: rotate(0deg); 
} 

.category .card-deck img {
  width: 300px;
  object-fit: cover;
  align-items: center;
}

.front:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-inactive {
  opacity: .3;
}

.card > .card-inner {
  padding:10px;
}

.card .header h2, h3 {
  margin-bottom: 0px;
  margin-top:0px;
}

.card .header {
  margin-bottom:5px;
}

.pageContainer {
  display: none;
}

.page-active {
  display:block;
}

.page-game {
  background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
}

.category {
  display: none;
}

.category img {
  margin: 0;
}

.card-cover {
  height: -webkit-fill-available !important;
}

.category .icon {
  padding-left: 35%;
}

.fa-redo {
  color: grey !important;
}

.fa-lg {
  font-size: 3em;
  line-height: 0.75em;
  vertical-align: 0;
  color: darkgrey;
}

.category .stretched-link {
  z-index: 100;
}

.fas {
  position: relative;
  z-index: 1000;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

.w-sidebar {
  width: 300px;
  max-width: 300px;
}

.vh-100 {
  min-height: 100vh;
}

.row.collapse {
  margin-left: -300px;
  left: 0;
  transition: margin-left .15s linear;
}

.row.collapse.show {
  margin-left: 0 !important;
}

.row.collapsing {
  margin-left: -300px;
  left: -0.05%;
  transition: all .15s linear;
}

@media (max-width:768px) {

  .row.collapse,
  .row.collapsing {
      margin-left: 0 !important;
      left: 0 !important;
      overflow: visible;
  }
  
  .row > .sidebar.collapse {
      display: flex !important;
      margin-left: -100% !important;
      transition: all .3s linear;
      position: fixed;
      z-index: 1050;
      max-width: 0;
      min-width: 0;
      flex-basis: auto;
  }
  
  .row > .sidebar.collapse.show {
      margin-left: 0 !important;
      width: 100%;
      max-width: 100%;
      min-width: initial;
  }
  
  .row > .sidebar.collapsing {
      display: flex !important;
      margin-left: -10% !important;
      transition: all .3s linear !important;
      position: fixed;
      z-index: 1050;
      min-width: initial;
  } 
}

.container-fluid {
  z-index: 0;
}

.humburger{
  z-index: 2000;
}

.nav {
  padding-top: 50% !important;
  font-size: 1.5rem;
}

.bg-dark, .navbar-dark {
  background: linear-gradient(40deg,#00bf82,#0099ae);
}

a {
  color:#dee2e6 !important;
}

a:hover {
  color: #fb3 !important;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.active {
  color: #fb3 !important;
}

.pb-3, .py-3 {
  padding-bottom: 0!important; 
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.tgl-btn::before {
    content: 'train';
}

.tgl-group {
    padding-right: 2rem;
}

.tgl {
  display: none;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 6em;
  height: 3em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
  text-align: left;
}

.tgl-light + .tgl-btn {
  background:  linear-gradient(40deg,#00bf82,#0099ae);;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #FFF;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.tgl-light:checked + .tgl-btn{
  background: linear-gradient(40deg, #ffd86f, #fc6262);
}

.none {
  opacity:0;
  width: 0;
  height: 0;
  font-size: 0;
}
.btn {
  display: none;
  position: relative;
  left: 50%;
}

.btn-active {
  display:block;
}

.btn-rounded {
  border-radius: 50%;
  width: 32px;
  height: 64px;
  z-index: 1000;
}

.icon-repeat {
  position: absolute;
  top: 20%;
  left: 23%;
}

.rating {
  min-height: 35px;
  padding-right: 45px;
}

.fa-star:before {
  color:#fd7e14 !important;
}

.result {
  position: absolute;
  top: 30%;
  left: 49%;
}

.hidden {
  opacity: 0;
}

.failure {
  background-image: url('../images/failure.jpg');
  background-repeat: no-repeat;
  background-position: center 50%;
}

.success {
  background-image: url('../images/success.jpg');
  background-repeat: no-repeat;
  background-position: center 50%;
  opacity: 0;
}




